<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirNextCondensed-Regular.ttf</string>
		<string>AvenirNextCondensed-Bold.ttf</string>
		<string>AvenirNextCondensed-DemiBold.ttf</string>
		<string>AvenirNextCondensed-Medium.ttf</string>
		<string>AvenirNextCondensed-Heavy.ttf</string>
		<string>AvenirNextCondensed-UltraLight.ttf</string>
	</array>
</dict>
</plist>
